<div id="mobile-menu" class="hidden absolute left-0 top-16 lg:hidden bg-white px-4 rounded w-full">
    <div class="flex flex-col space-y-8 md:flex-row md:space-y-0 md:space-x-4 lg:space-x-8 items-center md:items-end justify-center px- py-8">
        
        <div class="flex flex-col items-center -space-y-24 w-full flex-1">
            <img src="/assets/images/image-category-thumbnail-headphones.png" alt="" class="w-24 z-40">
            <div class="flex flex-col space-y-1 items-center justify-center bg-itemBg pb-10 pt-16 rounded-lg w-full">
                <h1 class="mt-4 tracking-tight">HEADPHONES</h1>
                <div class="flex items-center space-x-4">
                    <a href="/products/headphone" class="hover:text-darkPink duration-500">shop</a>
                    <img src="/assets/SVGs/icon-arrow-right.svg" alt="">
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center -space-y-24 w-full flex-1">
            <img src="/assets/images/image-category-thumbnail-speakers.png" alt="" class="w-24 z-40">
            <div class="flex flex-col space-y-1 items-center justify-center bg-itemBg  pb-10 pt-16 rounded-lg w-full">
                <h1 class="mt-4 tracking-tight">SPEAKERS</h1>
                <div class="flex items-center space-x-4">
                    <a href="/products/speaker" class="hover:text-darkPink duration-500">shop</a>
                    <img src="/assets/SVGs/icon-arrow-right.svg" alt="">
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center -space-y-24 w-full flex-1">
            <img src="/assets/images/image-category-thumbnail-earphones.png" alt="" class="w-24 z-40">
            <div class="flex flex-col space-y-1 items-center justify-center bg-itemBg   pb-10 pt-16 rounded-lg w-full">
                <h1 class="mt-4 tracking-tight">EARPHONES</h1>
                <div class="flex items-center space-x-4">
                    <a href="/products/earphone" class="hover:text-darkPink duration-500">shop</a>
                    <img src="/assets/SVGs/icon-arrow-right.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>